@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

* {
  font-family: raleway;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-image: url("../img/photo-1443527216320-7e744084f5a7-1.jpg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  text-align: center;
}

/* !                                         */

/* -nav */
header nav {
  height: 76px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(205, 205, 205);
}

header nav h2 {
  font-weight: 200;
  font-size: 2rem;
  color: #666666;
}

header nav div a {
  font-size: 1.2rem;
  padding: 0 30px;
}

header nav h2:hover {
  color: #337ab7;
}

header nav a:hover {
  color: #337ab7;
}

/* -header */
section h1 {
  font-size: 6rem;
  color: white;
  line-height: 64%;
  font-weight: 400;
  margin: 390px auto 50px auto;
}

section p {
  font-size: 1.4rem;
  color: white;
  line-height: 24%;
  margin: 0 auto 70px auto;
}

.read {
  border: 2px solid #745cf9;
  background-color: #745cf9;
  padding: 15px 60px;
  color: white;
  font-size: 1.2rem;
  margin: 0 5px 0 0;
}

.download {
  border: 2px solid white;
  background-color: transparent;
  padding: 15px 40px;
  color: white;
  font-size: 1.2rem;
}

.read:hover {
  border: 2px solid #4f31f6;
  background-color: #4f31f6;
  color: white;
}

.download:hover {
  background-color: white;
  color: black;
}
